<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Crear Productos
        </div> 
        <div class="card-body">
            <form (submit)="uploadPhoto(nombre, precio)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="nombre" #nombre required>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="precio" required #precio></textarea>
                </div>

                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected || 'assets/upload-picture.jpg'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()">

                <button class="btn btn-primary btn-block">
                    Subir
                </button>
            </form>
        </div>
    </div>
</div>