<div class="row">
    <div class="col p-4" *ngFor="let lista of lista">
        <div class="card card-photo">
            <div class="card-header">
                {{lista.nombre}}
            </div>
            <img src="../../../assets/images/product.png"  class="img-card-top w-100">
            <div class="card-body">                
                <p>{{lista.descripcion}}</p>
                <p>${{lista.precio}}</p>                
                <button class="btn btn-md btn-info" (click)="agregarItemAPedido(lista._id, 1)">Agregar al pedido</button>
            </div>
        </div>
    </div>
</div>
